<p id="notice"><%= notice %></p>

<p>
  <strong>Client:</strong>
  <%= @abyence.Client %>
</p>

<p>
  <strong>Insurer:</strong>
  <%= @abyence.insurer %>
</p>

<p>
  <strong>Reminder date:</strong>
  <%= @abyence.reminder_date %>
</p>

<p>
  <strong>Reminder content:</strong>
  <%= @abyence.reminder_content %>
</p>

<p>
  <strong>Renewal date:</strong>
  <%= @abyence.renewal_date %>
</p>

<p>
  <strong>Underwriter:</strong>
  <%= @abyence.underwriter %>
</p>

<%= link_to 'Edit', edit_abyence_path(@abyence) %> |
<%= link_to 'Back', abyences_path %>
