<p id="notice"><%= notice %></p>

<h1>Coverages</h1>

<table>
  <thead>
    <tr>
      <th>Coverage type</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @coverages.each do |coverage| %>
      <tr>
        <td><%= coverage.coverage_type %></td>
        <td><%= link_to 'Show', coverage %></td>
        <td><%= link_to 'Edit', edit_coverage_path(coverage) %></td>
        <td><%= link_to 'Destroy', coverage, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Coverage', new_coverage_path %>
